@import "node_modules/bootstrap/scss/bootstrap";

.navbar {
  margin-bottom: 20px;
}

.analysis-badge {
  color: #ffffff;
  opacity: 0.9;
}

.analysis-badge:hover {
  color: #eeeeee;
  opacity: 1;
}

.analysis-BOTH {
  background-color: #232D57;
}

.analysis-MALE_ONLY {
  background-color: #5E79EB;
}

.analysis-FEMALE_ONLY {
  background-color: #EB805F;
}

.dataTables_filter input[type="search"] {
  border-radius: 4px;
  border: 1px solid #cccccc;
}

.dataTables-no-results {
  color: #717171;
}

.card.geneDescription, .card.outcomeDescription {
  margin: 20px 0;
}

.card.docs {
  margin: auto;
  width: 90%;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: inherit !important;
}

.dropdown.analyisType {
  margin: 10px 0px 20px 0px;
}

.geneResults {
  border-top: 1px solid #cccccc;
  margin: 30px 0px 20px 0px;
}

.resultsHeader h3, .resultsHeader a {
  display: inline;
}

.resultsHeader a {
  margin-left: 5px;
}

.resultsHeader .selected {
  pointer-events: none;
}

.footnote {
  margin-top: 5px;
  font-size: small;
}

.tooltip {
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  pointer-events: none;
}


.tooltip p {
  margin: 0px;
}

.axis, .tick text, .pt {
  pointer-events: none;
}

#qqLoading {
  width: 80%;
  opacity: 0.5;

  display: flex;
  justify-content: center;
  align-items: center;
}

#qqLoading .spinner-border {
  width: 3rem;
  height: 3rem;
  display: flex;
}

#enrichmentPlotLoading {
  width: 100%;
  opacity: 0.5;

  display: flex;
  justify-content: center;
  align-items: center;
}

#enrichmentPlotLoading .spinner-border {
  width: 3rem;
  height: 3rem;
  display: flex;
}

.atc-tree-cls {
  width: 100%;
  min-width: 800px;
}

// Colorbar text
.atc-tree-cls g.node:first-of-type {
  pointer-events: none;
}

.atc-tree-cls text {
  pointer-events: none;
}

.atc-tree-cls .leaf {
  cursor: default;
}

.atc-enrichment-header h5, .atc-enrichment-header select {
  display: inline;
}

.atc-enrichment-header select {
  margin-left: 5px;
  width: 150px;
}

.citation {
  display: inline-block;
  margin: 0px 0 20px 20px;
  padding: 15px;
  border: 1px solid #999;
  border-radius: 5px;
}

.citation p {
    margin: 0;
}

#home-phen-page-link {
    display: block;
    width: 41.27%;
    height: auto;
    float: left;
}

#home-gene-page-link {
    display: block;
    width: 48.72%;
    height: auto;
    float: right;
    margin-left: 10px;
    margin-bottom: auto;
}

.cisMRgenes {
  font-size: 10pt;
}

#genes_wrapper {
  margin-bottom: 30px;
}

.cisMRgenes tbody th, .cisMRgenes tbody td {
  padding: 2px 8px !important;
  cursor: pointer;
}

#errors {
  color: red;
}

#ivw-p, #ivw-effect {
  display: inline-block;
  font-weight: 700;
  text-decoration: underline;
}

.table-loading > td {
  width: 100%;
  padding: 50px;
  text-align: center;
}

.tooltip-help {
  border-bottom: 1px dotted black;
  font-size: 10pt;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu {
    display: none;
  }
	.navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
	.navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
