@import "node_modules/bootstrap/scss/bootstrap";

.navbar {
  margin-bottom: 20px;
}

.dataTables_filter input[type="search"] {
  border-radius: 4px;
  border: 1px solid #cccccc;
}

.card.geneDescription, .card.outcomeDescription {
  margin: 20px 0;
}

.dropdown.analyisType {
  margin: 10px 0px 20px 0px;
}

.geneResults {
  border-top: 1px solid #cccccc;
  margin: 30px 0px 20px 0px;
}

.geneHeader h3, .geneHeader a {
  display: inline;
}

.geneHeader a {
  margin-left: 5px;
}

.geneHeader a.selected {
  border: 1px solid #cccccc;
}
