@import "node_modules/bootstrap/scss/bootstrap";

.navbar {
  margin-bottom: 20px;
}

.dataTables_filter input[type="search"] {
  border-radius: 4px;
  border: 1px solid #cccccc;
}

.card.geneDescription, .card.outcomeDescription {
  margin: 20px 0;
}

.dropdown.analyisType {
  margin: 10px 0px 20px 0px;
}

.geneResults {
  border-top: 1px solid #cccccc;
  margin: 30px 0px 20px 0px;
}

.geneHeader h3, .geneHeader a {
  display: inline;
}

.geneHeader a {
  margin-left: 5px;
}

.footnote {
  margin-top: 5px;
  font-size: small;
}

.tooltip {
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  pointer-events: none;
}

.axis, .tick text {
  pointer-events: none;
}

#atc-tree .node circle {
  fill: #fff;
  stroke: #666;
  stroke-width: 2px;
}

#atc-tree .node text {
  font: 12px sans-serif;
}

#atc-tree .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#atc-tree {
  width: 100%;
  min-width: 800px;
}

// Colorbar text
#atc-tree .color-legend text {
  font-family: sans-serif;
  font-size: 13px;
}

#atc-tree .legend-title {
  font-family: sans-serif;
  font-size: 14px;
}


#atc-tree g.node:first-of-type {
  pointer-events: none;
}

#atc-tree text {
  pointer-events: none;
}

#atc-tree .leaf {
  cursor: default;
}
