{% extends "base.html" %}
{% block body %}
    <h3>Gene List</h3>

    <div id="app">

      <table id="genes" class="display" style="width:100%">
        <thead>
          <tr>
            <th class="dt-head-left">Ensembl Id</th>
            <th class="dt-head-left">Available Subgroups</th>
            <th class="dt-head-left">Symbol</th>
            <th class="dt-head-left">Description</th>
            <th class="dt-head-left">Biotype</th>
            <th class="dt-head-right">Chr.</th>
            <th class="dt-head-right">Start</th>
            <th class="dt-head-right">End</th>
            <th class="dt-head-left">Strand</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <th>Ensembl Id</th>
            <th></th>
            <th>Symbol</th>
            <th>Description</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
      </table>

    </div>
{% endblock %}

{% block other_script %}
    <script type="text/javascript">
      window.pages.mainGeneList();
      $('#app #genes tfoot th').each( function () {
        var title = $(this).text();
        if (title) {
          $(this).html('<input type="text" placeholder="Search '+title+'" />');
        }
      });
    </script>
{% endblock %}
