{% extends "index.html" %}
{% block body %}
    <h3>Gene List</h3>

    <div id="app">

      <table id="genes" class="display" style="width:100%">
        <thead>
          <tr>
            <th class="dt-head-left">Ensembl Id<sup>&nbsp;*</sup></th>
            <th class="dt-head-left">Available Analyses</th>
            <th class="dt-head-left">Symbol</th>
            <th class="dt-head-left">Description</th>
            <th class="dt-head-right">Chromosome</th>
            <th class="dt-head-right">Start</th>
            <th class="dt-head-right">End</th>
            <th class="dt-head-left">Strand</th>
          </tr>
        </thead>
      </table>

    </div>

    <div class="footnote">
      <p>
        <sup>*&nbsp;</sup>Clicking the Ensembl IDs will display the results with the highest variance available. Click a badge to display the results for a specific variance.
      </p>
    </div>

{% endblock %}

{% block other_script %}
    <script type="text/javascript">
      window.pages.mainGeneList();
    </script>
{% endblock %}
