{% extends "base.html" %}

{% block tooltips %}
  <div class="tooltip" id="tooltipGTEX"></div>
  <div class="tooltip" id="tooltipQQ"></div>
{% endblock %}

{% block body %}
    <div class="resultsHeader">
      <h3>Gene {{ name }}</h3>
      {% for subset, label in [('BOTH', 'All'), ('MALE_ONLY', 'Male only'), ('FEMALE_ONLY', 'Female only')] %}
        <a class="badge{% if analysis_subset == subset %} badge-danger selected{% else %} badge-light{% endif %}"
           href="{{ url_for('backend_blueprint.get_gene', ensg=ensembl_id, analysis_subset=subset) }}">
          {{ label }}
        </a>
      {% endfor %}
    </div>

    <div id="app">

      <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
        <div class="card geneDescription">
          <div class="card-body">
            <dl class="row">
              <dt class="col-md-4">Location (GRCh37):</dt>
              <dd class="col-md-8">chr{{ chrom }}:{{ '{:,d}'.format(start) }}-{{ '{:,d}'.format(end) }}</dd>

              {% if description is not none -%}
              <dt class="col-md-4">Description:</dt>
              <dd class="col-md-8">{{ description }}</dd>
              {%- endif %}

              <dt class="col-md-4">Biotype</dt>
              <dd class="col-md-8">
                {% if biotype == "protein_coding" %}Protein coding
                {% elif biotype == "lincRNA" %}LincRNA
                {% else %}{{ biotype }}
                {% endif %}
              </dd>

              <dt class="col-md-4">Nb components:</dt>
              <dd class="col-md-8">{{ n_pcs }}{% if n_pcs > max_n_pcs %} (40 used <span class="tooltip-help" title="Only 40 principal components were used to speed up the analysis">?</span>){% endif %}</dd>

              <dt class="col-md-4">Ensembl:</dt>
              <dd class="col-md-8"><a target="_blank" href="http://grch37.ensembl.org/Homo_sapiens/Gene/Summary?g={{ ensembl_id }}">{{ ensembl_id }}</a></dd>

              {% for db_name in external_dbs|sort %}{% if db_name in xrefs %}
              <dt class="col-md-4">{{ db_full_names[db_name] }}:</dt>
              <dd class="col-md-8">{% for id in xrefs[db_name] %}{% if db_name in db_urls %}<a target="_blank" href="{{ db_urls[db_name].format(id=id) }}">{% endif %}{{ id }}{% if db_name in db_urls %}</a>{% endif %}{{ ", " if not loop.last }}{% endfor %}</dd>
              {% endif %}{% endfor %}
            </dl>

            <dl class="row">
              <div class="col-md-12">
                {% if has_gtex -%}
                <div class="contentGTEX">
                  <h5>Median gene-level TPM by tissue (GTEx) <small>[<a target="_blank" href="https://www.gtexportal.org/home/gene/{{ ensembl_id }}">link</a>]</small>:</h5>
                  <div style="text-align: center">
                    <svg id="geneGTEX"></svg>
                  </div>
                </div>
                {%- endif %}
              </div>
            </dl>
          </div>
        </div>
        </div>

        {% if has_results %}
        <div class="col-md-6">
            <!-- QQ plot as a measure of pleiotropy -->
            <h5>Genetic associations QQ-plot</h5>
            <div>
              <p>Inflation factor <i>𝜆=<span id="lambdaQQ"></span></i></p>
            </div>
            <div id="qqLoading"
                 style="background: url({{ url_for('backend_blueprint.static', filename='qq_plot_loading.svg') }}) no-repeat;">
              <div style="margin-top: 63%"></div>
              <div class="spinner-border" role="status"><span class="sr-only">Loading</span></div>
            </div>
            <svg id="geneQQ" style="display: none"></svg>

            <div>
              <h5>Browse associated phenotypes:</h5>

              <div class="dropdown analyisType">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Analysis Type
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#continuous-results-section">Continuous variables</a>
                  <a class="dropdown-item" href="#cardio-endpoints-results-section">Cardiovascular Endpoints</a>
                  <a class="dropdown-item" href="#self-reported-results-section">Self Reported</a>
                  <a class="dropdown-item" href="#phecodes-results-section">Phecodes</a>
                </div>
              </div>

            </div>
        </div>
        {% endif %}

      </div>

      {% if has_results %}
      <div class="geneResults continuousVariable">
        <h4 id="continuous-results-section">Continuous variables</h4>
        <table id="geneResultsContinuous" class="display" style="width:100%">
          <thead>
            <tr>
              <th class="dt-head-left">Outcome Id</th>
              <th class="dt-head-left">Description</th>
              <th class="dt-head-right">N</th>
              <th class="dt-head-right">-log<sub>10</sub>(<i>P</i>)</sup></th>
              <th class="dt-head-right">P-Value</th>
              <th class="dt-head-right">P-Value (Bonferroni)</th>
              <th class="dt-head-right">Q-Value</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-loading">
              <td colspan="7">
                <div class="spinner-border text-secondary" role="status">
                  <span class="sr-only">Loading</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="footnote">
        <p>
          <sup>*&nbsp;</sup>Values noted as 0 represent values smaller than the numerical floating point representation limit (&lt;&nbsp;2e-308 for this analysis).
        </p>
      </div>

      <div class="geneResults cvEndpoints">
        <h4 id="cardio-endpoints-results-section">Cardiovascular Endpoints</h4>
        <table id="geneResultsCVEndpoints" class="display" style="width:100%">
          <thead>
            <tr>
              <th class="dt-head-left">Outcome Id</th>
              <th class="dt-head-left">Description</th>
              <th class="dt-head-right">N cases</th>
              <th class="dt-head-right">N controls</th>
              <th class="dt-head-right">N excluded from controls</th>
              <th class="dt-head-right">-log<sub>10</sub>(<i>P</i>)</sup></th>
              <th class="dt-head-right">P-Value</th>
              <th class="dt-head-right">P-Value (Bonferroni)</th>
              <th class="dt-head-right">Q-Value</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-loading">
              <td colspan="7">
                <div class="spinner-border text-secondary" role="status">
                  <span class="sr-only">Loading</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="geneResults selfReported">
        <h4 id="self-reported-results-section">Self Reported</h4>
        <table id="geneResultsSelfReported" class="display" style="width:100%">
          <thead>
            <tr>
              <th class="dt-head-left">Outcome Id</th>
              <th class="dt-head-left">Description</th>
              <th class="dt-head-right">N cases</th>
              <th class="dt-head-right">N controls</th>
              <th class="dt-head-right">N excluded from controls</th>
              <th class="dt-head-right">-log<sub>10</sub>(<i>P</i>)</sup></th>
              <th class="dt-head-right">P-Value</th>
              <th class="dt-head-right">P-Value (Bonferroni)</th>
              <th class="dt-head-right">Q-Value</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-loading">
              <td colspan="7">
                <div class="spinner-border text-secondary" role="status">
                  <span class="sr-only">Loading</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="geneResults phecodes">
        <h4 id="phecodes-results-section">Phecodes</h4>
        <table id="geneResultsPhecodes" class="display" style="width:100%">
          <thead>
            <tr>
              <th class="dt-head-left">Outcome Id</th>
              <th class="dt-head-left">Description</th>
              <th class="dt-head-right">N cases</th>
              <th class="dt-head-right">N controls</th>
              <th class="dt-head-right">N excluded from controls</th>
              <th class="dt-head-right">-log<sub>10</sub>(<i>P</i>)</sup></th>
              <th class="dt-head-right">P-Value</th>
              <th class="dt-head-right">P-Value (Bonferroni)</th>
              <th class="dt-head-right">Q-Value</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-loading">
              <td colspan="7">
                <div class="spinner-border text-secondary" role="status">
                  <span class="sr-only">Loading</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {% else %}
        <h4>There are no results for this gene</h4>
      {% endif %}

    </div>
{% endblock %}

{% block other_script %}
    <script>
      window.pages.mainGeneResults("{{ ensembl_id }}", {{ "true" if has_results else "false" }});
    </script>
{% endblock %}
