{% extends "index.html" %}
{% block body %}
    <div class="geneHeader">
      <h3>Gene {{ name }}</h3>
        {%- for value in available_variance|sort %}
        <a href="{{ url_for('backend_blueprint.get_gene', ensg=ensembl_id, variance_pct=value) }}" class="badge badge-light{{ ' selected' if value == variance_pct }}">{{ value }}%</a>
        {%- endfor %}
    </div>

    <div id="app">

      <div class="row">
        <div class="col-5">
        <div class="card geneDescription">
          <div class="card-body">
            <dl class="row">
              <dt class="col-5">Location (GRCh37):</dt>
              <dd class="col-7">chr{{ chrom }}:{{ '{:,d}'.format(start) }}-{{ '{:,d}'.format(end) }}</dd>

              <dt class="col-5">Variance explained:</dt>
              <dd class="col-7">{{ variance_pct }}%</dd>

              <dt class="col-5">Nb components:</dt>
              <dd class="col-7">{{ n_components }}</dd>

              <dt class="col-5">Ensembl:</dt>
              <dd class="col-7"><a target="_blank" href="http://grch37.ensembl.org/Homo_sapiens/Gene/Summary?g={{ ensembl_id }}">{{ ensembl_id }}</a></dd>

              {% for db_name in external_dbs|sort %}{% if db_name in xrefs %}
              <dt class="col-5">{{ db_full_names[db_name] }}:</dt>
              <dd class="col-7">{% for id in xrefs[db_name] %}{% if db_name in db_urls %}<a target="_blank" href="{{ db_urls[db_name].format(id=id) }}">{% endif %}{{ id }}{% if db_name in db_urls %}</a>{% endif %}{{ ", " if not loop.last }}{% endfor %}</dd>
              {% endif %}{% endfor %}
            </dl>
          </div>
        </div>
        </div>
      </div>

      <div class="dropdown analyisType">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Analysis Type
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#continuous-results-section">Continuous variables</a>
          <a class="dropdown-item" href="#cardio-endpoints-results-section">Cardiovascular Endpoints</a>
          <a class="dropdown-item" href="#self-reported-results-section">Self Reported</a>
          <a class="dropdown-item" href="#icd10-blocks-results-section">ICD10 Blocks</a>
          <a class="dropdown-item" href="#icd10-3char-results-section">ICD10 (3 characters)</a>
        </div>
      </div>

      <div class="geneResults continuousVariable">
        <h4 id="continuous-results-section">Continuous variables</h4>
        <table id="geneResultsContinuous" class="display" style="width:100%">
          <thead>
            <tr>
              <th class="dt-head-left">Outcome Id</th>
              <th class="dt-head-left">Description</th>
              <th class="dt-head-right">P-Value</th>
              <th class="dt-head-right">Q-Value</th>
              <th class="dt-head-right">Bonferroni p</th>
              <th class="dt-head-right">Sum of Square</th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="geneResults cvEndpoints">
        <h4 id="cardio-endpoints-results-section">Cardiovascular Endpoints</h4>
        <table id="geneResultsCVEndpoints" class="display" style="width:100%">
          <thead>
            <tr>
              <th class="dt-head-left">Outcome Id</th>
              <th class="dt-head-left">Description</th>
              <th class="dt-head-right">P-Value</th>
              <th class="dt-head-right">Q-Value</th>
              <th class="dt-head-right">Bonferroni p</th>
              <th class="dt-head-right">Deviance</th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="geneResults selfReported">
        <h4 id="self-reported-results-section">Self Reported</h4>
        <table id="geneResultsSelfReported" class="display" style="width:100%">
          <thead>
            <tr>
              <th class="dt-head-left">Outcome Id</th>
              <th class="dt-head-left">Description</th>
              <th class="dt-head-right">P-Value</th>
              <th class="dt-head-right">Q-Value</th>
              <th class="dt-head-right">Bonferroni p</th>
              <th class="dt-head-right">Deviance</th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="geneResults icd10Block">
        <h4 id="icd10-blocks-results-section">ICD10 Blocks</h4>
        <table id="geneResultsICD10Block" class="display" style="width:100%">
          <thead>
            <tr>
              <th class="dt-head-left">Outcome Id</th>
              <th class="dt-head-left">Description</th>
              <th class="dt-head-right">P-Value</th>
              <th class="dt-head-right">Q-Value</th>
              <th class="dt-head-right">Bonferroni p</th>
              <th class="dt-head-right">Deviance</th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="geneResults icd103Char">
        <h4 id="icd10-3char-results-section">ICD10 (3 characters)</h4>
        <table id="geneResultsICD103Char" class="display" style="width:100%">
          <thead>
            <tr>
              <th class="dt-head-left">Outcome Id</th>
              <th class="dt-head-left">Description</th>
              <th class="dt-head-right">P-Value</th>
              <th class="dt-head-right">Q-Value</th>
              <th class="dt-head-right">Bonferroni p</th>
              <th class="dt-head-right">Deviance</th>
            </tr>
          </thead>
        </table>
      </div>

    </div>
{% endblock %}

{% block other_script %}
    <script>
      window.pages.mainGeneResults("{{ ensembl_id }}");
    </script>
{% endblock %}
