<!Doctype html>
<html>
  <head>
    <script
      src="https://code.jquery.com/jquery-3.1.0.js"
      integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="
      crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <title>ExPheWAS Browser</title>
  </head>

  <body>

  <nav class="navbar">
    <ul>
      <li><a href="{{ url_for("backend_blueprint.get_outcomes") }}">Outcomes</a></li>
    </ul>
  </nav>

  {% block body %}{% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    {% block other_script %}{% endblock %}

  </body>
</html>
