{% extends "base.html" %}
{% block body %}

<div class="container">
    <p>See the preprint for a thorough discussion or to cite this resource:</p>

    <div class="citation">
      <p><b><i>ExPheWas</i>: a browser for gene-based pheWAS associations.</b><br /> Legault, M.-A., Lemieux Perreault, L.-P., & Dubé, M.-P. (2021). medRxiv. <a href="https://doi.org/10.1101/2021.03.17.21253824">https://doi.org/10.1101/2021.03.17.21253824</a></p>
    </div>

    <h3>Overview</h3>

    <p>The ExPheWas browser showcases the results of a phenome-wide association study (PheWAS) using an approach that models the joint effect of variants at protein coding genes. In the original release, we tested the association between 19,114 genes on human autosomes and 1,210 phenotypes available from the UK Biobank.</p>

    <p>Briefly, we used a principal component analysis of common variant genotypes (PCA) to reduce the effective number of variables needed to represent the genotypes. Association testing is then done by assessing the improvement in goodness of fit from including the gene based principal components to a regression model. The experimental setup is described in more details in the figure below:</p>

    <p style="text-align: center;"><img style="max-width: 100%; height: auto" src="{{ url_for('backend_blueprint.static', filename='analysis_summary.png') }}" /></p>

    <p>PheWAS results can then be browsed <a href="{{ url_for("backend_blueprint.get_genes") }}">by gene</a> or <a href="{{ url_for("backend_blueprint.get_outcomes") }}">by phenotype</a>. The pages are mostly self-explanatory, but key features are illustrated below:</p>

    <div class="row" style="margin-bottom: 30px;">
      <a id="home-phen-page-link" href="{{ url_for('backend_blueprint.get_outcomes') }}">
        <img src="{{ url_for('backend_blueprint.static', filename='browser_figure_phenotype.svg') }}" />
      </a>
      <a id="home-gene-page-link" href="{{ url_for('backend_blueprint.get_genes') }}">
        <img src="{{ url_for('backend_blueprint.static', filename='browser_figure_gene.svg') }}" />
      </a>
    </div>

    <h3>Support</h3>

    <p>For technical assistance or feature requests, we recommend you open a ticket on the project's <a href="https://github.com/pgxcentre/ExPheWAS/issues">Github page</a>. For other inquiries, you may contact the corresponding author of the manuscript.</p>

</div>

{% endblock %}

{% block other_script %}
{% endblock %}
