{% extends "index.html" %}
{% block body %}
    <h3>Outcome List</h3>

    <div id="app">

      <table id="outcomes" class="display" style="width:100%">
        <thead>
          <tr>
            <th class="dt-head-left">Outcome Id</th>
            <th class="dt-head-left">Analysis Type</th>
            <th class="dt-head-left">Description</th>
          </tr>
        </thead>
      </table>

    </div>

{% endblock %}

{% block other_script %}
    <script type="text/javascript">
      window.pages.mainOutcomeList();
    </script>
{% endblock %}
