{% extends "index.html" %}
{% block body %}
    <h1>Outcome '{{ label }}' ({{ id }})</h1>
    <div id="app">

      <div class="outcomeDescription">
        <dl>
          <dt>Trait:</dt>
          <dd>{{ type }}</dd>
          <dt>Analysis Type:</dt>
          <dd>{{ analysis_type }}</dd>
          {%- if type == 'binary' %}
          <dt>Cases:</dt>
          <dd>{{ '{:,d}'.format(n_cases) }}<dd>
          <dt>Controls:</dt>
          <dd>{{ '{:,d}'.format(n_controls) }}</dd>
          <dt>Excluded from controls:</dt>
          <dd>{{ '{:,d}'.format(n_excluded_from_controls) }}</dd>
          {%- elif type == 'continuous' %}
          <dt>Samples:</dt>
          <dd>{{ '{:,d}'.format(n) if n is not none else '?' }}</dt>
          {%- endif %}
        </dl>
      </div>

      <div class="outcomeResults">
        <table id="outcomeResults" class="display" style="width:100%">
          <thead>
            <tr>
              <th>Gene</th>
              <th>Symbol</th>
              <th>P-Value</th>
              <th>Pct Variance Explained</th>
            </tr>
          </thead>
        </table>
      </div>

    </div>
{% endblock %}

{% block other_script %}
    <script>
      window.pages.mainOutcomeResults("{{ id }}");
    </script>
{% endblock %}
