{% extends "base.html" %}
{% block body %}
    <div class="tooltip" id="tooltip-atc-tree"></div>

    <h1>
      Outcome '{{ label }}' ({{ id }})
      <!-- TODO Make nice -->
      {% if analysis_subset == "BOTH" %}All
      {% elif analysis_subset == "FEMALE_ONLY" %}Female
      {% elif analysis_subset == "MALE_ONLY" %}Male
      {% endif %}
    </h1>

    <div id="app">

      <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
        <div class="card outcomeDescription">
          <div class="card-body">
            <dl class="row">
              <dt class="col-4">Variable type:</dt>
              <dd class="col-8">
                {% if type == "continuous_outcomes" %}Continuous
                {% else %}Binary{% endif %}
              </dd>

              <dt class="col-4">Analysis Type:</dt>
              <dd class="col-8">{{ analysis_type }}</dd>

              {%- if type == 'binary_outcomes' %}
              <dt class="col-4">N Cases<sup>*</sup>:</dt>
              <dd class="col-8">{{ '{:,d}'.format(n_cases_avg) }}</dd>

              <dt class="col-4">N Controls<sup>*</sup>:</dt>
              <dd class="col-8">{{ '{:,d}'.format(n_controls_avg) }}</dd>

              <dt class="col-4">N Excluded from controls<sup>*</sup>:</dt>
              <dd class="col-8">{{ '{:,d}'.format(n_excluded_from_controls_avg) }}</dd>

              {%- elif type == 'continuous_outcomes' %}
              <dt class="col-4">N Samples<sup>*</sup>:</dt>
              <dd class="col-8">{{ '{:,d}'.format(n_avg) if n_avg is not none else '?' }}</dt>
              {%- endif %}
            </dl>
            <sup>*</sup> Average across genes.
          </div>
        </div>
        </div>

        <div class="col-md-7">
          {% if has_atc_enrichment -%}
          <div class="atc-enrichment" style="text-align: center;">
            <div class="atc-enrichment-header">
              <h5>Enrichment Analysis</h5>
                <select id="atc-algorithm-select" class="custom-select">
                  <option value="fgsea" selected>FGSEA</option>
                  <option value="fisher">Fisher's exact</option>
                </select>
            </div>
            <svg id="atc-tree"></svg>
          </div>
          {%- endif %}
        </div>
      </div>
      </div>

      <div class="outcomeResults">
        <table id="outcomeResults" class="display" style="width:100%">
          <thead>
            <tr>
              <th class="dt-head-left">Gene</th>
              <th class="dt-head-left">Symbol</th>
              <th class="dt-head-right">P-Value</th>
              <th class="dt-head-right">Q-Value</th>
              <th class="dt-head-right">Bonferroni p</th>
              <th class="dt-head-right">Nb Components</th>
            </tr>
          </thead>
        </table>
      </div>

    </div>
{% endblock %}

{% block other_script %}
    <script>
      window.pages.mainOutcomeResults("{{ id }}");
    </script>
{% endblock %}
