{% extends "base.html" %}

{% block tooltips %}
  <div class="tooltip" id="tooltip-enrichment"></div>
  <div class="tooltip" id="tooltip-atc-tree"></div>
{% endblock %}

{% block body %}
    <div class="resultsHeader">
      <h3>Outcome '{{ label }}' ({{ id }}) </h3>
      {% for subset, label in [('BOTH', 'All'), ('MALE_ONLY', 'Male only'), ('FEMALE_ONLY', 'Female only')] %}
      {% if subset in available_subsets %}
        <a class="badge{% if analysis_subset == subset %} badge-danger selected{% else %} badge-light{% endif %}"
           href="{{ url_for('backend_blueprint.get_outcome', id=id, analysis_subset=subset, analysis_type=analysis_type) }}">
          {{ label }}
        </a>
      {% endif %}
      {% endfor %}
    </div>

    <div id="app">

      <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
        <div class="card outcomeDescription">
          <div class="card-body">
            <dl class="row">
              <dt class="col-4">Variable type:</dt>
              <dd class="col-8">
                {% if type == "continuous_outcomes" %}Continuous
                {% else %}Binary{% endif %}
              </dd>

              <dt class="col-4">Analysis Type:</dt>
              <dd class="col-8">{{ analysis_type }}</dd>

              {%- if type == 'binary_outcomes' %}
              <dt class="col-4">N Cases<sup>*</sup>:</dt>
              <dd class="col-8">{{ '{:,d}'.format(n_cases_avg) }}</dd>

              <dt class="col-4">N Controls<sup>*</sup>:</dt>
              <dd class="col-8">{{ '{:,d}'.format(n_controls_avg) }}</dd>

              <dt class="col-4">N Excluded from controls<sup>*</sup>:</dt>
              <dd class="col-8">{{ '{:,d}'.format(n_excluded_from_controls_avg) }}</dd>

              {%- elif type == 'continuous_outcomes' %}
              <dt class="col-4">N Samples<sup>*</sup>:</dt>
              <dd class="col-8">{{ '{:,d}'.format(n_avg) if n_avg is not none else '?' }}</dt>
              {%- endif %}
            </dl>
            <sup>*</sup> Estimated average across genes.

            <div id="enrichment-box" style="display: none">
              <div style="margin-top: 20px" id="enrichment-plot"></div>
              <div style="margin-top: 20px">
                <p><a href="https://biit.cs.ut.ee/gprofiler/gost">g:Profiler</a> is
                used to automatically compute enrichment analyses when more
                than 5 genes are significant with a Q-value under 0.05.</p>
                <p>The above plot was created using this resource and with the
                significant genes from the table below.</p>
              </div>
            </div>

          </div>
        </div>
        </div>

        <div class="col-md-6">
          {% if has_atc_enrichment -%}
          <div class="atc-enrichment" style="text-align: center;">
            <div class="atc-enrichment-header">
              <h5>Enrichment Analysis</h5>
            </div>
            <svg id="atc-tree"></svg>
          </div>
          {%- endif %}
        </div>
      </div>
      </div>

      <div class="outcomeResults">
        <table id="outcomeResults" class="display" style="width:100%">
          <thead>
            <tr>
              <th class="dt-head-left">Gene</th>
              <th class="dt-head-left">Symbol</th>
              <th class="dt-head-right">-log<sub>10</sub>(<i>P</i>)</th>
              <th class="dt-head-right">P-Value</th>
              <th class="dt-head-right">P-Value (Bonferroni)</th>
              <th class="dt-head-right">Q-Value</th>
              <th class="dt-head-right">Nb Components</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-loading">
              <td colspan="7">
                <div class="spinner-border text-secondary" role="status">
                  <span class="sr-only">Loading</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
{% endblock %}

{% block other_script %}
    <script>
      window.pages.mainOutcomeResults("{{ id }}");
    </script>
{% endblock %}
